<div>
  <app-header></app-header>
</div>

<div>
  
</div>
  <div class="row classPages">
    <div class="col-12" style="margin-top: 3rem">
      <div class="row" style="margin: 1rem;">
        <div class="col-12" style="text-align: center; background-color: white; border-radius: 1rem; margin-bottom:3rem; margin-top: 3rem;">
          <router-outlet></router-outlet>
          <app-agent-vendeur></app-agent-vendeur>
        </div>
      </div>
    </div>
  </div>

<footer style="margin: 0 auto; text-align: center;">
  <span><a href="https://coreui.io">DGID</a> &copy; 2019.</span>
  <span class="ml-auto">Powered by <a href="https://diotali.com">Diotali</a></span>
</footer>
