.entete {
    background: linear-gradient(#885d2b, rgb(53, 29, 4)); 
}

.logo {
    margin-left: 20px;
}

.menu {
    margin-left: 60px;
    margin-top: 5px;
}

#logo_dgid {
    width: 7%; 
}

ul {
    margin-left: 60px;
}

li {
    border-radius: 10px 10px 0 0;
    background: #aa8007;
    margin-right: 10px;
    width: 30px;
}

li:hover {
    background: #f1eff0;
    color: #000;
}

.centrer_img {
    text-align: center;
    //margin-top: 5px;
    margin-bottom: 0;
}

figure {
    justify-content: center;
}

figcaption {
    color: darken($color: #ffffff, $amount: 0);
}

.taille-img {
    width: 30%;
}

.menu_item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 140px;
    /*padding: 10px;
    display: inline-block;
    vertical-align: middle*/
}

#bordure {
    height: 80px;
    margin-top: 10px;
    margin-left: 50px;
    margin-right: 50px;
    border-right:#f1eff0 solid 2px; 
}
