<div class="entete">
  <div class="row logo">
      <div class=" navbar-brand col-sm-12 ">
        
          <div class="d-flex align-items-start">
            <img class="" id="logo_dgid" src="assets\decoupage\agent_bg_logo.png " alt="Card image cap" >
              <span class="p-2" id="bordure"></span>
              <div class="p-2 mr-auto">
                <p id="timbre_fiscal">Timbre Fiscal</p>
                <p id="bloc_fiscal">Bloc Fiscal</p>
              </div>

              <div class="p-2 mat_agent" dropdown>
                <span id="matricule">{{dataUser.firstName}} {{dataUser.lastName}}&nbsp;&nbsp;&nbsp;</span>
                <button class="btn dropdown-toggle" dropdown-toggle style="border-radius: 20px; background:#e3ae0d; color: white;" type="button" data-toggle="dropdown" >
                  
                </button>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="#">Paramètres compte</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Déconnexion</a>  
                </div>
              </div>
              
          </div> 
        
      </div>
    </div>

    <div class="row menu"> 
        <div class="col-sm-12">
            
                <ul class="d-flex flex-row ml-auto">
                <li class="p-2 menu_item" routerLinkActive="lien_actif" ><a routerLink="/vendeur" >
                  <div class="centrer_img">
                    <figure>
                      <img class="taille-img" [src]="'assets/decoupage/'+imageMenu" alt="Shopping cart">
                      <figcaption>Vente</figcaption>
                    </figure>
                  </div></a>
                </li>
                <li class="p-2 menu_item" routerLinkActive="lien_actif"><a routerLink="/consommateur" >
                  <div class="centrer_img">
                    <figure>
                      <img class="taille-img" [src]="'assets/decoupage/'+imageMenuTimbre" alt="Timbre">
                      <figcaption>Consommation</figcaption>
                    </figure>
                  </div></a>
                </li>
                <!-- <li class="p-2 menu_item" routerLinkActive="lien_actif"><a routerLink="/historique" >
                  <div class="centrer_img">
                    <figure>
                      <img class="taille-img" src="assets\decoupage\agent_bg_histor_1.png" alt="Historique">
                      <figcaption>Historique</figcaption>
                    </figure>
                  </div></a>
                </li> -->
                </ul>
            
        </div>
    </div>
  
</div>
<!-- <router-outlet></router-outlet> -->

