<div class="d-flex flex-row justify-content-around">
  
    <form id="imprimer" class="p-2 col-sm-3">
        <fieldset class="ticket">
            <img src="assets\decoupage\agent_bg_logo_1.png" alt=""> <br>
            <p style="margin-top: 20px; font-weight: bold; margin-left: 10px; margin-right: 10px;">CONFIRMATION DE CONSOMMATION DE TIMBRE FISCAL ELECTRONIQUE</p>
            <p style="margin-top: 50px; font-size: small; font-weight: bold; margin-left: 10px; margin-right: 10px;">le timbre fiscal électronique identifié ci-dessous à été consommé à la date indiquée</p>
            <fieldset class="col-sm-10 mx-auto info_ticket">
                <legend style="text-align: start; font-size: 15px; font-weight: bold;">Timbre fiscal</legend>
                <!-- <div class="d-flex flex-row flex-wrap justify-content-start"> -->
                    <span style="text-align: start; font-weight: bold;" class="p-2">N° de timbre fiscal électronique :</span> <br>
                    <span style="text-align: start; font-weight: bold;" class="p-2 ">{{dataOperation.numeroTransaction}}</span> <br>
                <!-- </div> -->
                <!-- <div class="d-flex flex-row flex-wrap justify-content-start"> -->
                    <span class="p-2" style="font-weight: bold;">Montant :</span> <br>
                    <span class="p-2" style="font-weight: bold;">{{dataOperation.prixU}} XOF</span> <br>
                <!-- </div> -->
                <!-- <div class="d-flex flex-row flex-wrap justify-content-start"> -->
                    <span class="p-2" style="font-weight: bold;">Date/Heure de consommation :</span> <br>
                    <span class="p-2" style="font-weight: bold;">{{dataOperation.transactionDate}}</span> <br>
                <!-- </div> -->
            </fieldset>
            <p style="font-size: small; margin-bottom: 60px; margin-left: 15px; margin-right: 15px; font-weight: bold;">ce timbre fiscal électrinique à été consommé pour le paiement de la taxe associée à la délivrance des permis de conduire</p>
        </fieldset>
    </form>
  
  <div class="p-2 col-sm-7 envoyer_mail">
      <span style="line-height: 3px;" style="text-align: start; font-size: larger; font-weight: bold;">Envoyer par mail</span><br> 
      <hr class="col-sm-10 float-left" color="#e4ae0e">
      <form [formGroup]="EmailForm" (ngSubmit)="envoiMail()">
          <div class="form-group">
            <input formControlName="receptionRecuConsumer" type="text" class="form-control col-sm-6" id="nom" placeholder="Insérer l'adresse e-mail ">
          </div>
          <button type="submit" class="btn envoyer">
              <span style="font-size: large; font-weight: bold;" class="p-2">Envoyer</span> 
              <fa-icon class="p-2" icon="arrow-right" [styles]="{'color': '#e4ae0e'}"></fa-icon>
          </button>
      </form>
        <hr class="col-sm-10 float-left" color="#e4ae0e">
        <button  class="btn envoyer" (click)="print()">
          <span style="font-size: large; font-weight: bold;" class="p-2">Imprimer</span> 
          <fa-icon class="p-2" icon="arrow-right" [styles]="{'color': '#e4ae0e'}"></fa-icon> 
        </button>
  </div>
</div>

<div class="d-flex justify-content-around" style="margin-bottom: 20px; ">
<button type="submit" class="p-2 btn retour" (click)="retour()">
  <img class="fleche_gauche" src="assets\decoupage\fleche_gauche.PNG" alt="arrow right"> 
  Retour
</button>
<p  class="p-2">
</p>
</div>
