/***********************************************************************
 **************************** TYPE OF DEVICES **************************
 ***********************************************************************/
.classPages{
  text-align: center; 
  background-color: #f1efef; 
}

p {
  margin-top: 20px;
  margin-left: 5px;
  font-size: 30px;
  color: #75552e;
}

.puce {
  margin-top: 8px;
  margin-left: 40px;
  width: 15px;
  height: 15px;
  border-radius: 20px;
  background: #c0911b;
}
