<div class="container col-12"> 
    <div>
      <app-header></app-header>
    </div>
      <div class="container-fluid">
        
      <div class="row justify-content-center classPages">
        <div class="d-flex flex-row align-items-center">
          <span class="p-2 puce"></span> 
          <p class="p-2">VENTE DE TIMBRE FISCAL ET QUITTANCE</p>
       </div>
        
        <div class="col-11 align-self-center" style="text-align: center; background-color: white; border-radius: 1rem; margin-bottom:3rem; margin-top: 3rem; margin: 1rem;">
              
          <router-outlet></router-outlet>
          <app-agent-vendeur></app-agent-vendeur>
        </div>
      </div>
    </div>
  
    <footer >
      <app-footer></app-footer>
    </footer>
  </div>
  