 span {
     line-height: 1px;
     text-align: left;
     font-size: 20px;
 }

 p {
     line-height: 10px;
 }

 hr {
     height: 3px;
 }

 form {
    margin-top: 30px;
    margin-bottom: 30px;
 }

 input {
     border-radius: 20px;
 }

 button {
     background-color: #e4ae0e;
     color: white;
     border-radius: 20px;
 }

 .affecter_dossier {
     border: 1px solid #f1eff0;
     background: #f1eff0;
     margin-bottom: 30px;
     margin-top: 20px;
 }

 .recapitulatif {
    border: 1px solid #f1eff0;
    background: #f1eff0;
    margin-bottom: 30px;
    margin-top: 20px;
    color:  #77562b;
    text-align: start;
    font-size: 22px;
    font-weight: bold;
}

 .retour { 
    background: #b1b1b1;
    color: white;
    font-size: 20px;
    width: 150px;
    border-radius: 30px;
}

.valider {
    background: #c0911b;
    color: white;
    font-size: 20px;
    width: 150px;
    border-radius: 30px;
}

.flex_bouton {
    margin-bottom: 30px;
}