<div style="margin-top: 20px;">
<div class="p-2 d-flex flex-row flex-wrap justify-content-center">
    <span class="p-2 col-sm-3">N° de timbre :</span>
    <span class="p-2 col-sm-3">0000 0000 0000 0000</span>
</div>
<div class="p-2 d-flex flex-row flex-wrap justify-content-center">
    <span class="p-2 col-sm-3">N° de transaction :</span>
    <span class="p-2 col-sm-3">0000 0000 0000</span>
</div>
<div class="p-2 d-flex flex-row flex-wrap justify-content-center">
    <span class="p-2 col-sm-3">Montant :</span>
    <span class="p-2 col-sm-3">10.000 FCFA</span> <br>
</div>
</div>

<div class="p-2 d-flex flex-row flex-wrap justify-content-center" style="margin-top: 15px;">
    <span class="p-2 col-sm-3" style="color: #76552c; font-size: 20px;">Informations d'achat</span>
    <span class="p-2 col-sm-3"></span>
</div>
<div class="p-2 d-flex flex-row flex-wrap justify-content-center">
    <span class="p-2 col-sm-3">Code vendeur :</span>
    <span class="p-2 col-sm-3">0000 0000 0000</span>
</div>
<div class="p-2 d-flex flex-row flex-wrap justify-content-center">
    <span class="p-2 col-sm-3">Date d'achat :</span>
    <span class="p-2 col-sm-3">08/04/2020</span> <br>
</div>

<div class="p-2 d-flex flex-row flex-wrap justify-content-center" style="margin-top: 15px;">
  <span class="p-2 col-sm-3" style=" font-size: 20px;">10.000 FCFA</span>
  <span class="p-2 col-sm-3"></span>
</div>
<div class="p-2 d-flex flex-row flex-wrap justify-content-center">
  <span class="p-2 col-sm-3">Transaction :</span>
  <span class="p-2 col-sm-3">0000 0000 0000</span>
</div>


<div *ngIf="contenu==0 || contenu==1">
  <div class="col-sm-10 mx-auto affecter_dossier">
      <hr class="col-sm-10 mx-auto" color="#e4ae0e">
      <form class="form-inline mx-auto justify-content-around">
          <button type="submit" class="btn col-sm-2">
            <span style="margin-right: 20px;">Affecter à</span> 
            <fa-icon icon="angle-right" [styles]="{'color': 'white'}"></fa-icon>
          </button>
          <div class="form-group row">
            <label for="numDossier" class="col-sm-4 col-form-label">N° dossier : </label>
            <div class="col-sm-6">
              <input type="text" class="form-control " id="numDossier">
            </div>
          </div>
      </form>
  </div>
</div>

<div *ngIf="contenu==2">
  <div class="col-sm-6 mx-auto recapitulatif">
    <p style="margin-top: 20px;">N° Dossier : 0000 0000 0000</p>
    <p>Salimata Diamanka</p>
    <p>Délivrance des permis de conduire</p>
    <p>10.000 FCFA</p>
  </div>
</div>

<div class="d-flex flex-row justify-content-around flex_bouton">
  <button type="submit" class="p-2 col-sm-2 btn retour" (click)="onSelected(1)">
    <img style="margin-right: 20px;" src="assets\decoupage\fleche_gauche.PNG" alt="arrow right">
    Retour
  </button>
  <button type="submit" class="p-2 col-sm-2 btn valider" (click)="onSelected(2)">
    Valider
    <img style="padding-left: 20px;" src="assets\decoupage\fleche.PNG" alt="arrow right">
  </button>
</div>


