<!-- <form>
    <div class="form-group row" >
      <label for="staticEmail" class="col-sm-3 mx-auto col-form-label" style=" font-style: italic;">Envoi de timbre par mail :</label>
      <div class="col-sm-3 mx-auto">
        <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="sdiamanka@diotali.com" >
      </div>
    </div>
    <div class="form-group row" >
        <label for="staticEmail" class="col-sm-3 mx-auto col-form-label" style=" font-style: italic;">Envoi de timbre par mail :</label>
        <div class="col-sm-3 mx-auto">
          <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="sdiamanka@diotali.com" >
        </div>
      </div>
      <div class="form-group row" >
        <label for="staticEmail" class="col-sm-3 mx-auto col-form-label" style=" font-style: italic;">Envoi de timbre par mail :</label>
        <div class="col-sm-3 mx-auto">
          <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="sdiamanka@diotali.com" >
        </div>
      </div>
</form> -->
<div style="margin-top: 20px;">
<div class="p-2 d-flex flex-row flex-wrap justify-content-center">
    <span class="p-2 col-sm-3">N° de timbre :</span>
    <span class="p-2 col-sm-3">0000 0000 0000 0000</span>
</div>
<div class="p-2 d-flex flex-row flex-wrap justify-content-center">
    <span class="p-2 col-sm-3">N° de transaction :</span>
    <span class="p-2 col-sm-3">0000 0000 0000</span>
</div>
<div class="p-2 d-flex flex-row flex-wrap justify-content-center">
    <span class="p-2 col-sm-3">Montant :</span>
    <span class="p-2 col-sm-3">10.000 FCFA</span> <br>
</div>
</div>

<div class="p-2 d-flex flex-row flex-wrap justify-content-center">
    <span class="p-2 col-sm-3" style="color: #76552c;">Informations d'achat</span>
    <span class="p-2 col-sm-3"></span>
</div>
<div class="p-2 d-flex flex-row flex-wrap justify-content-center">
    <span class="p-2 col-sm-3">Code vendeur :</span>
    <span class="p-2 col-sm-3">0000 0000 0000</span>
</div>
<div class="p-2 d-flex flex-row flex-wrap justify-content-center">
    <span class="p-2 col-sm-3">Date d'achat :</span>
    <span class="p-2 col-sm-3">10.000 FCFA</span> <br>
</div>

<div class="col-sm-10 mx-auto affecter_dossier">
    <hr class="col-sm-11 mx-auto" color="#e4ae0e">
    <form class="form-inline col-sm-10 mx-auto justify-content-around">
        <button type="submit" class="btn btn-primary mb-4">Affecter à</button>
        <div class="form-group mx-sm-4 mb-4">
          <label class="" for="inputPassword2" >N° dossier : </label>
          <input type="number" class="form-control" id="inputPassword2" placeholder="">
        </div>
        
      </form>
</div>
