 span {
     line-height: 1px;
     text-align: left;
 }

 p {
     line-height: 4px;
 }

 hr {
     height: 3px;
 }

 .affecter_dossier {
     border: 1px solid #f1eff0;
     height: 120px;
     background: #f1eff0;
     margin-bottom: 30px;
     margin-top: 10px;
 }