<main class="main d-flex align-items-center" >
  <div class="container">
    <div class="row">
      <div class="col-md-6 mx-auto">
        <div class="card-group">
          <div class="card"  style="border-radius: 2rem; border-color: #6B4308; margin-top: 5rem !important;">
            <div class="card-header text-center" style="color: white;font-size: xx-large; background-color: #6B4308; border-radius: 2rem 2rem 0rem 0rem; ">
              BLOC FISCAL
            </div>
            <div class="text-center">
              <div class="or-spacer">
                <div class="mask"></div>
              </div>
            </div>
            <div class="card-body text-center">
              <img src="assets/decoupage/agent_bg_logo.png" class="img-fluid">
              <form [formGroup]="UserconnexionForm" (ngSubmit)="connexion()" style="margin-top: 3rem">
                <div *ngIf="error" class="alert alert-danger"> {{message}} </div>
                <div class="input-group mb-3">
                  <input type="text" formControlName="login" class="form-control text-center" placeholder="Login" autocomplete="login" required>
                </div>
                <div class="input-group mb-4 ">
                  <input type="password" formControlName="password"  class="form-control text-center" placeholder="Mot de passe" autocomplete="current-password" required>
                </div>
                <div class="text-center" style="margin-top: 4rem; margin-bottom: 2rem">
                  <button type="submit" [disabled]="!UserconnexionForm.valid" class="btn px-4  text-center" style="width: 40%; margin: auto 0 ; text-align: center;border-radius: 20px; background-color: #ebc164; color: white">Connecter</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>