form {
    margin-top: 40px;
}

input {
    border-radius: 20px;
    text-align: center;
}

.retour { 
    background: #b1b1b1;
    color: white;
    font-size: 20px;
    width: 150px;
    border-radius: 30px;
}

.valider {
    background: #c0911b;
    color: white;
    font-size: 20px;
    width: 150px;
    border-radius: 30px;
}

.d-flex {
    margin-top: 200px;
    margin-bottom: 30px;
}