<div class="container-fluid"> 
  <div>
    <app-header></app-header>
  </div>
  <div class="classPages">
      <div class="d-flex flex-row justify-content-start ligne" style="margin-left: 30px;">
        <span class="p-2 puce_titre"></span> 
        <span class="p-2 titre">CONSOMMATION DE TIMBRE FISCAL ET QUITTANCE</span>
      </div>
      <div class="row justify-content-center ligne">
      
      
        <div class="col-11 align-self-center" style="text-align: center; background-color: white; border-radius: 1rem; margin-bottom:3rem; margin-top: 3rem; margin: 1rem;">
                 
        <router-outlet></router-outlet>

        <form [formGroup]="TimbreForm" (ngSubmit)="findTimbre()">
          <div *ngIf="error" class="alert alert-danger"> {{message}} </div> 
            <div class="form-group">
              <label for="numeroTimbre" style="font-weight: bold;">Insérer le numéro de timbre</label>
              <input type="text" formControlName="numeroTransaction" class="col-sm-4 mx-auto form-control" id="numeroTimbre" placeholder="N° timbre" required>
            </div>
        

          <div class="d-flex flex-row justify-content-around flex_bouton">
              <button type="submit" class="p-2 btn retour" (click)="retour()">
                <img class="fleche_gauche"  src="assets\decoupage\fleche_gauche.PNG" alt="arrow right">
                Retour
              </button>
              <button type="submit" class="p-2 btn valider">
                Valider
                <img class="fleche" src="assets\decoupage\fleche.PNG" alt="arrow right">
              </button>
          </div>

       </form>

      </div>
    </div>
    </div>
     <footer >
      
    </footer>
    </div>
