<div class="container-fluid"> 
  <div>
    <app-header></app-header>
  </div>
  <div class="classPages">
      <div class="d-flex flex-row justify-content-start " style="margin-left: 30px; padding-top: 20px;">
        <span class="p-2 puce_titre"></span> 
        <span class="p-2 titre">VENTE DE TIMBRE FISCAL ET QUITTANCE</span>
      </div>
      <div class="row justify-content-center ">
      
      
        <div class="col-11 align-self-center ligne" style="text-align: center; background-color: white; border-radius: 1rem; margin-bottom:3rem; margin-top: 3rem; margin: 1rem;">
                
          <router-outlet></router-outlet>

            
            <div class="d-flex flex-row justify-content-start" >
                <span class="p-2 puce"></span> 
                <p style="font-size: 30px; margin-top: 15px; font-weight: bold;" class="p-2 ">Récapitulatif</p>
            </div>
            <hr  width="99%" color="#ebe7e7" size="3">

            <div class="recapitulatif">
                <p style="font-weight: bold;">Achat de timbre pour le montant de : </p><br>
                <p style="color: #c0911b; font-size: 40px; font-weight: bold;">40.000 FCFA</p>
                <table id="table" class="table">
                    <thead>
                        <th>Nom</th>
                        <th>Prénom</th>
                        <th>Montant</th>
                    </thead>
                    <tbody>
                        <tr >
                            <td>Diamanka</td>
                            <td>Salimata</td>
                            <td>20.000</td>
                        </tr>
                        <tr >
                            <td>Diamanka</td>
                            <td>Salimata</td>
                            <td>20.000</td>
                        </tr>
                    </tbody>
                </table>
                <form style="margin-bottom: 246px;">
                    <div class="form-group row" style="font-size: larger;">
                      <label for="staticEmail" class="col-sm-4 col-form-label" style="font-size: larger; font-style: italic;">Envoi de timbre par mail :</label>
                      <div class="col-sm-6">
                        <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="sdiamanka@diotali.com" style="font-size: larger; font-weight: bold; color: black;">
                      </div>
                    </div>
                </form>
                <div class="d-flex justify-content-around" style="margin-bottom: 20px; margin-top: 100px;">
                    <button type="submit" class="p-2 btn retour" (click)="retour()">
                      <img class="fleche_gauche" src="assets\decoupage\fleche_gauche.PNG" alt="arrow right">
                      Retour
                    </button>
                    <button type="submit" class="p-2 btn valider" (click)="openModal(paramUser)">
                      Valider
                      <img class="fleche" src="assets\decoupage\fleche.PNG" alt="arrow right">
                    </button>
                </div>
            </div>

        <ng-template #paramUser class="modal-dialog-centered">
          <div class="modal-header">
            <h5 class="modal-title ">Confirmation</h5>
            <button type="button" class="close pull-right" aria-label="Close" (click)="retourAccueil()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <img class="col-sm-4 mx-auto" style=" margin-bottom: 20px;" src="assets\decoupage\success.png" alt="arrow right">
            <p style="font-weight: bold; font-size: x-large;">OPERATION EFFECTUEE</p>
            <p style="text-align: center; font-size: large; margin-bottom: 10px; margin-top: 10px;">La quittance et le justificatif <br> ont été envoyé par mail <br> à l'adresse sdiamanka@diotali.com</p>
            
          </div>
          <div class="modal-footer">
            <div>
              <button type="submit" class="p-2 btn retour" (click)="retourAccueil()">
                <img class="fleche_gauche" src="assets\decoupage\fleche_gauche.PNG" alt="arrow right"> 
                Retour
              </button>
            </div>
          </div>
        </ng-template>

    </div>
  </div>
 </div>
 
</div>
