<div class="d-flex flex-row justify-content-start" >
    <span class="p-2 puce"></span> 
    <p style="font-size: 30px; margin-top: 15px;" class="p-2 ">Récapitulatif</p>
</div>
<hr  width="99%" color="#ebe7e7" size="3">

<div class="recapitulatif">
    <p>Achat de timbre pour le montant de : </p><br>
    <p style="color: #c0911b; font-size: 40px;">40.000 FCFA</p>
    <table id="table" class="table">
        <thead>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Montant</th>
        </thead>
        <tbody>
            <tr >
                <td>Diamanka</td>
                <td>Salimata</td>
                <td>20.000</td>
            </tr>
            <tr >
                <td>Diamanka</td>
                <td>Salimata</td>
                <td>20.000</td>
            </tr>
        </tbody>
    </table>
    <form>
        <div class="form-group row" style="font-size: larger;">
          <label for="staticEmail" class="col-sm-4 col-form-label" style="font-size: larger; font-style: italic;">Envoi de timbre par mail :</label>
          <div class="col-sm-6">
            <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="sdiamanka@diotali.com" style="font-size: larger;">
          </div>
        </div>
    </form>
    <div class="d-flex justify-content-around" style="margin-bottom: 20px; margin-top: 100px;">
        <button type="submit" class="p-2 btn retour">
          <img style="margin-right: 20px;" src="assets\decoupage\fleche_gauche.PNG" alt="arrow right">
          Retour
        </button>
        <button type="submit" class="p-2 btn valider">
          Valider
          <img style="padding-left: 20px;" src="assets\decoupage\fleche.PNG" alt="arrow right">
        </button>
      </div>
</div>
