

.classPages{
    text-align: center; 
    background-color: #f1efef; 
    min-height: 800px;
  }
  
  .titre {
    margin-top: 20px;
    margin-left: 5px;
    //font-family: TitilliumWebBold;
    //font-size: 25px;
    font-weight: bold;
    color: #75552e;
    line-height: 5px;
  }
  
  .puce_titre {
    margin-top: 25px;
    margin-left: 40px;
    width: 15px;
    height: 15px;
    border-radius: 20px;
    background: #c0911b;
  }

.puce {
    height: 30px;
    margin-top: 15px;
    margin-right: 10px;
    border-right:#c0911b solid 5px; 
}

hr {
    height: 2px;
    color: #ebe7e7;
    margin-top: 10px;
}

.recapitulatif {
    text-align: start;
}

p {
    line-height: 10px;
}

#table {
    border: 0;
}

#table th, #table td{
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-bottom: 0;
    font-size: larger;
}

#table td {
    line-height: 4px;
    font-weight: bold;
}

#table th{  
    font-style: italic;
}

.retour { 
    background: #b1b1b1;
    color: white;
    font-size: 20px;
    width: 150px;
    border-radius: 30px;
}

.valider {
    background: #c0911b;
    color: white;
    font-size: 20px;
    width: 150px;
    border-radius: 30px;
}

.fleche {
    margin-left: 20px;
    width: 25px;
}

.fleche_gauche {
    margin-right: 20px;
    width: 25px;
}