.d-flex {
    margin-top: 20px;
    margin-bottom: 100px;
}

.choix {
    background: #77562b;
    color: white;
    font-size: 20px;
    height: 130px;
    border-radius: 30px;
    margin-left: 50px;
    margin-top: 20px;
}

.retour { 
    background: #b1b1b1;
    color: white;
    font-size: 20px;
    width: 150px;
    border-radius: 30px;
    margin-bottom: 30px;
    margin-left: 10px;
    margin-top: 200px;
    align-self: flex-start;
}