<div class="container-fluid"> 
  <div>
    <app-header></app-header>
  </div>
  <div class="classPages">
      <div class="d-flex flex-row justify-content-start ligne" style="margin-left: 30px;">
        <span class="p-2 puce_titre"></span> 
        <span class="p-2 titre">CONSOMMATION DE TIMBRE FISCAL ET QUITTANCE</span>
      </div>
      <div class="row justify-content-center ligne">
      
      
        <div class="col-11 align-self-center" style="text-align: center; background-color: white; border-radius: 1rem; margin-bottom:3rem; margin-top: 3rem; margin: 1rem;">
                 
          <router-outlet></router-outlet>

          <div class="choisir">
            <div class="d-flex flex-row flex-wrap justify-content-center" >
                <button class="p-2 btn col-sm-2 choix" type="button" (click)="saisirNumero()">N° de timbre</button>
                <button class="p-2 btn col-sm-2 choix" type="button">Scan Qr code</button>
            </div>

            <div class="d-flex justify-content-around" style="margin-bottom: 20px; margin-top: 100px;">
              <button type="submit" class="p-2 btn retour" (click)="retour()">
                <img class="fleche_gauche" src="assets\decoupage\fleche_gauche.PNG" alt="arrow right">
                Retour
              </button>
              <p  class="p-2">
              </p>
          </div>
          </div>


</div>
</div>
</div>
 <footer >
  <app-footer></app-footer>
</footer>
</div>
