<div class="enregistrement">
    <div class="d-flex flex-row justify-content-center">
        <p class="p-2 col-sm-4 banière">ENREGISTREMENT</p>
    </div>
    
    <div class="d-flex flex-row justify-content-around">
        <a class="p-2 col-sm-3 premier_lien" href="">Timbre de connaissements</a>
        <a class="p-2 col-sm-3 premier_lien" href="">Actes juridictionnels et arbitraux</a>
        <a class="p-2 col-sm-3 premier_lien" href="">Pari mutuel</a>
    </div>
    <div class="d-flex flex-row justify-content-around ">
        <a class="p-2 col-sm-3 premier_lien" href="">Timbre de dimension</a>
        <a class="p-2 col-sm-3 premier_lien" href="">Domaines privé non affecté de l'état</a>
        <a class="p-2 col-sm-3 premier_lien" href="">Documents et perceptions diverses</a>
    </div>
    <div class="d-flex flex-row justify-content-around ">
        <a class="p-2 col-sm-3 premier_lien" href="">Droits de timbre de 10.000 FCFA</a>
        <a class="p-2 col-sm-3 premier_lien" href="">Droits de timbre de 20.000 FCFA</a>
        <a class="p-2 col-sm-3 premier_lien" href="">Passports</a>
    </div>
    <div class="d-flex flex-row justify-content-around ">
        <a class="p-2 col-sm-3 premier_lien" href="">Passports étrangers </a>
    </div>
    <button type="submit" class="col-sm-2 btn retour">
        <img style="margin-right: 20px;" src="assets\decoupage\fleche_gauche.PNG" alt="arrow right">
        Retour
    </button>
</div>


