.banière {
    border: 1px solid #77562b; 
    border-radius: 15px; 
    background: #77562b; 
    color: white; 
    font-size: 30px; 
    width: 40%; 
    height: 20%; 
    text-align: center; 
    margin-left: 30%;
    margin-top: 10px;
}