
<div class="d-flex flex-row justify-content-start">
  <span class="p-2 puce"></span> 
  <p style="font-size: 30px; margin-top: 15px; font-weight: bold;" class="p-2 ">Validation</p> 
</div>

<hr  width="99%" color="#ebe7e7" size="3">
<div *ngIf="typeTimbre==='Timbres pour fiscal' || typeTimbre==='Droits d\'enregistrement' || typeTimbre==='Mutation de véhicule'">
  <div  class="tableau">
      <p style="font-weight: bold;">Timbres pour fiscal :</p>
      <table id="table" class="table" >
          <thead>
          <tr>
              <th scope="col">Libellé</th>
              <th scope="col">Quantité</th>
              <th scope="col">Montant</th>
              <th scope="col">Action</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let timbre of dataVente.panierTimbre">
              <td>{{timbre.libelle}}</td>
              <td>{{timbre.quantite}}</td>
              <td>{{timbre.prixTotal}}</td>
              <td>
                  <fa-icon icon="edit" [styles]="{'color': 'blue'}"></fa-icon>
              </td>
          </tr>
          <tr >
              <td></td>
              <td></td>
              <td></td>
              <td>
              </td>
          </tr>
          <tr >
              <td></td>
              <td></td>
              <td></td>
              <td></td>
          </tr>
          <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
          </tr>
          <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
          </tr>
          </tbody>
          <tfoot>
              <tr>
                  <td style="background-color: #b5b5b3; color: black;" colspan="2">TOTAL</td>
                  <td style="background-color: #c0911b; color: white;" colspan="2">{{dataTimbre.prixTotal}} FCFA</td>
              </tr>
          </tfoot>
      </table>
  </div>

  <div class="d-flex flex-row flex-wrap justify-content-around" style="margin-top: 40px; margin-bottom: 15px;">
    <button type="submit" class="p-2 btn retour" (click)="retour()">
      <img class="fleche_gauche"  src="assets\decoupage\fleche_gauche.PNG" alt="arrow right">
      Retour
    </button>
    <!-- <button type="submit" class="p-2 btn ajouter_autre" (click)="openModal(paramUser)">
        Ajouter un autre
        <img class="fleche" src="assets\decoupage\fleche_haut.PNG" alt="arrow right">
    </button> -->
    <button type="submit" class="p-2 btn valider" (click)="valider()">
      Valider
      <img class="fleche"  src="assets\decoupage\fleche.PNG" alt="arrow right">
    </button>
  </div>
</div>

<div *ngIf="typeTimbre=='Timbres pour passeport'">
  <div class="tableau">
    <p style="font-weight: bold;">Timbre pour passport :</p>
    <table id="table" class="table" >
        <thead>
        <tr>
            <th>Nom</th>
            <th>Prénom</th>
            <th>CIN N°</th>
            <th>N° Tel.</th>
            <th>Montant</th>
            <th>Action</th> 
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let quitance of dataVente.infoQuittance">
            <td>{{quitance.lastName}}</td> 
            <td>{{quitance.firstName}}</td>
            <td>{{quitance.nin}}</td>
            <td>{{quitance.phone}}</td>
            <td>20 000</td>
            <td>
                <fa-icon icon="edit" (click)="openModal(paramUser)" [styles]="{'color': 'blue'}"></fa-icon>
                <fa-icon icon="trash-alt" [styles]="{'color': 'red'}"></fa-icon>
            </td>
        </tr>
        <tr >
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr >
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        </tbody>
        <tfoot>
            <tr>
                <td style="background-color: #b5b5b3; color: black;" colspan="4">TOTAL</td>
                <td style="background-color: #c0911b; color: white;" colspan="2">{{dataVente.montantTotal}} FCFA</td>
            </tr>
        </tfoot>
    </table>
  </div>


  <div class="d-flex flex-row flex-wrap justify-content-around" style="margin-top: 40px; margin-bottom: 20px;">
      <button type="submit" class="p-2 btn retour" (click)="retour()">
        <img class="fleche_gauche"  src="assets\decoupage\fleche_gauche.PNG" alt="arrow right">
        Retour
      </button>
      <!-- <button type="submit" class="p-2 btn ajouter_autre" (click)="openModal(paramUser)">
          Ajouter un autre
          <img class="fleche" src="assets\decoupage\fleche_haut.PNG" alt="arrow right">
      </button> -->
      <button type="submit" class="p-2 btn valider" (click)="validerQuittance()">
        Valider
        <img class="fleche"  src="assets\decoupage\fleche.PNG" alt="arrow right">
      </button>
  </div>
</div>

  <ng-template #paramUser>
    <div class="modal-header">
      <h5 class="modal-title ">Veuillez remplir ces informations</h5>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form [formGroup]="QuittanceForm" (ngSubmit)="modifierInfo()">
        <div class="form-group">
          <input type="text" formControlName="lastName" value="{{dataQuittance.lastName}}" class="form-control" id="nom" placeholder="Nom">
        </div>
        <div class="form-group">
          <input type="text" formControlName="firstName" value="{{dataQuittance.firstName}}" class="form-control" id="prenom" placeholder="Prénom">
        </div>
        <div class="form-group">
          <input type="text" formControlName="nin" value="{{dataQuittance.nin}}" class="form-control" id="cni" placeholder="CNI N° (NIN du tuteur pour mineur)">
        </div>
        <div class="form-group">
          <input type="tel" formControlName="phone" value="{{dataQuittance.phone}}" class="form-control" id="tel" placeholder="N° Tel">
        </div>
        <div class="d-flex">
          <button type="submit" class="p-2 mr-auto btn retour" (click)="retourTalbleau()">
            <img class="fleche_gauche" src="assets\decoupage\fleche_gauche.PNG" alt="arrow right">
            Retour
          </button>
          <button type="submit" class="p-2 btn valider">
            Valider
            <img class="fleche" src="assets\decoupage\fleche.PNG" alt="arrow right">
          </button>
        </div>
      </form>
    </div>
  </ng-template>
