<!-- <div class="row justify-content-start"  > -->
    <div class="d-flex flex-row justify-content-start">
        <span class="p-2 puce"></span> 
        <p style="font-size: 30px;" class="p-2 ">Validation</p>
     </div>
<!-- </div> -->
<hr  width="99%" color="#ebe7e7" size="3">
<div class="tableau">
    <p>Timbre pour passport :</p>
    <table id="table" class="table" >
        <thead>
        <tr>
            <th>Nom</th>
            <th>Prénom</th>
            <th>CIN N°</th>
            <th>N° Tel.</th>
            <th>Montant</th>
        </tr>
        </thead>
        <tbody>
        <tr >
            <td>Diamanka</td>
            <td>Salimata</td>
            <td>2088 1990 03792</td>
            <td>77 326 68 14</td>
            <td>20.000</td>
        </tr>
        <tr >
            <td>Diamanka</td>
            <td>Salimata</td>
            <td>2088 1990 03792</td>
            <td>77 326 68 14</td>
            <td>20.000</td>
        </tr>
        <tr >
            <td>Diamanka</td>
            <td>Salimata</td>
            <td>2088 1990 03792</td>
            <td>77 326 68 14</td>
            <td>20.000</td>
        </tr>
        </tbody>
        <tfoot>
            <tr>
                <td style="background-color: #b5b5b3; color: black;" colspan="3">Total</td>
                <td style="background-color: #c0911b; color: white;" colspan="2">Somme</td>
            </tr>
        </tfoot>
    </table>
</div>