.classPages{
    text-align: center; 
    background-color: #f1efef; 
  }
  
  .titre {
    margin-top: 20px;
    margin-left: 5px;
    font-size: 30px;
    color: #75552e;
  }
  
  .puce_titre {
    margin-top: 8px;
    margin-left: 40px;
    width: 15px;
    height: 15px;
    border-radius: 20px;
    background: #c0911b;
  }

.tableau {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 80%;
    margin-left: 100px;
    text-align: left;
}

.puce {
    height: 30px;
    margin-top: 15px;
    margin-right: 10px;
    border-right:#c0911b solid 5px; 
}

hr {
    height: 2px;
    color: #ebe7e7;
}

#table {
    border: 1px solid #ddd;
}

#table th, #table td{
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-top: 0;
    border-bottom: 0;
}

#table th {
    border-left: 2px solid white;
    border-right: 2px solid white;
    border-top: 0;
    border-bottom: 0;
    text-align: center;
    background-color: #e0e0e0;
    color: black;
}

#table td {
    border-left: 2px solid #ddd;
    border-right: 2px solid #ddd;
    border-top: 0;
    border-bottom: 0;
    text-align: center;
    color: #c0911b;
}

.retour { 
    background: #b1b1b1;
    color: white;
    font-size: 20px;
    width: 150px;
    border-radius: 30px;
}

.valider {
    background: #c0911b;
    color: white;
    font-size: 20px;
    width: 150px;
    border-radius: 30px;
}

.ajouter_autre {
    background: #76552c;
    color: white;
    font-size: 20px;
    border-radius: 30px;
    margin-left: 10px;
    margin-right: 10px;
}