<div class="row" style="margin-top: .4rem;">
    <div class="col-12">
        <div class="row" style="margin: 0 auto; text-align: left;">
            <div class="col-12"><h3>Timbres / Quittances</h3></div>
        </div>
        <div class="row" style="margin-top: 1rem;">
            <div class="submenu" style="background-color: #015e9f;">
                <div class="card-body">
                <div class="row">
                    <div class="col-4 align-self-center" >
                        <img src="assets/decoupage/quotite.png" alt="Card image cap">
                    </div>
                    <div class="col-8" style="text-align: left;">
                        <h1>63 225 000</h1>
                        <h2>Timbres générés</h2>
                    </div>
                </div>
                </div>
            </div>
            <div class="submenu" style="background-color: #0b3b57;">
                <div class="card-body">
                <div class="row">
                    <div class="col-4 align-self-center" >
                    <img src="assets/decoupage/quotite.png" alt="Card image cap">
                    </div>
                    <div class="col-8" style="text-align: left;">
                    <h1>5 000</h1>
                    <h2>Timbres non consommés</h2>
                    </div>
                </div>
                </div>
            </div>
            <div class="submenu" style="background-color: #045a8b;">
                <div class="card-body">
                <div class="row">
                    <div class="col-4 align-self-center" >
                    <img src="assets/decoupage/quotite.png" alt="Card image cap">
                    </div>
                    <div class="col-8" style="text-align: left;">
                    <h1>63 220 000</h1>
                    <h2>Timbres consommés</h2>
                    </div>
                </div>
                </div>
            </div>    
            <div class="submenu" style="background-color: #5c0e8e;">
                <div class="card-body">
                <div class="row">
                    <div class="col-4 align-self-center" >
                    <img src="assets/decoupage/quotite.png" alt="Card image cap">
                    </div>
                    <div class="col-8" style="text-align: left;">
                    <h1>63 225 000</h1>
                    <h2>Quittances passeport générées</h2>
                    </div>
                </div>
                </div>
            </div>
            <div class="submenu" style="background-color: #360555;">
                <div class="card-body">
                <div class="row">
                    <div class="col-4 align-self-center" >
                    <img src="assets/decoupage/quotite.png" alt="Card image cap">
                    </div>
                    <div class="col-8" style="text-align: left;">
                    <h1>5 000</h1>
                    <h2>Quittances passeport non consommées</h2>
                    </div>
                </div>
                </div>
            </div>
            <div class="submenu" style="background-color: #9726df;">
                <div class="card-body">
                <div class="row">
                    <div class="col-4 align-self-center" >
                    <img src="assets/decoupage/quotite.png" alt="Card image cap">
                    </div>
                    <div class="col-8" style="text-align: left;">
                    <h1>63 220 000</h1>
                    <h2>Quittances passeport consommées</h2>
                    </div>
                </div>
                </div>
            </div>    
        </div>
        <div class="row" style="margin: 0 auto; text-align: left;">
        <div class="col-12">
                <div class="col-12" style="margin: 1rem 0rem 1rem 0rem;">
                        <form class="form-inline small" #f="ngForm" (ngSubmit)="find(f.value)">
                            <div class="form-group">
                                <label for="startDate">Date de... &nbsp;</label>
                                <input type="date" class="form-control" id="startDate" name="startDate" ngModel>
                            </div>
                            <div class="form-group">
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label for="endDate">&agrave; &nbsp;</label>
                                <input type="date" class="form-control" id="endDate" name="endDate" ngModel>
                            </div>
                            <div class="form-group">
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label for="typeTransaction">Type &nbsp;</label>
                                <select class="form-control" id="typeTransaction" [(ngModel)]="defaultForm.typeTransaction" name="typeTransaction">
                                    <option>all</option>
                                    <option>QUITTANCE</option>
                                    <option>TIMBRE</option>
                                  </select>
                            </div>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button type="submit" class="btn btn-primary">Rechercher</button>
                        </form>
                    </div>
        </div>
        </div>
        <div class="row align-self-center" style="margin-top: 1rem;">
                <div class="col-6">
                        <div class="row align-self-center">
                            <div class="col-12">
                                <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table row-border table-striped">
                                <thead>
                                    <tr>
                                    <th></th>
                                    <th>N° TRANS</th>
                                    <th>DATE</th>
                                    <th>DISTRIBUTEUR</th>
                                    <th>TYPE</th>
                                    <th>Etat</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of datas; let i = index">
                                    <td>
                                        <span class="badge badge-pill badge-success" *ngIf="item.status=='CONSUMED'" style="margin: .2rem;">&nbsp;</span>
                                        <span class="badge badge-pill badge-secondary" *ngIf="!item.status || item.status=='AVAILABLE'" style="margin: .2rem;">&nbsp;</span>
                                    </td>
                                    <td>{{ item.transactionNumber }}</td>
                                    <td>{{ item.transactionDate | date:'dd/MM/yyyy' }}</td>
                                    <td>{{ item.distributeurName?item.distributeurName:'DIRECT' }}</td>
                                    <td>{{ item.transactionType }}</td>
                                    <td>{{ item.status?(item.status=='CONSUMED'?'Consommé':'Généré'):'Généré' }}</td>
                                    </tr>
                                </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="row align-self-center">
                            <div class="col-12" style="margin-bottom: 1rem;">
                                
                            </div>
                        </div>
                        <div style="display: block">
                            <canvas baseChart #baseChart="base-chart"
                                [datasets]="barChartData"
                                [labels]="barChartLabels"
                                [options]="barChartOptions"
                                [plugins]="barChartPlugins"
                                [legend]="barChartLegend"
                                [colors]="barChartColours"
                                [chartType]="barChartType">
                            </canvas>
                        </div>
                    </div>
        <!--/.col-->
        </div>
        <!--/.col-->
    </div>
    <!--/.col-->
    </div>
    
      