.classPages{
    text-align: center; 
    background-color: #f1efef; 
  }
  
  .titre {
    margin-top: 20px;
    margin-left: 5px;
    font-size: 30px;
    color: #75552e;
  }
  
  .puce {
    margin-top: 8px;
    margin-left: 40px;
    width: 15px;
    height: 15px;
    border-radius: 20px;
    background: #c0911b;
  }

.vente-timbres {
    margin-top: 30px;
    margin-bottom: 30px;
}

.timbre {
    background: #e0e0e0;
    border-radius: 30px;
    width: 200px;
    margin-bottom: 10px;
    margin-right: 10px;
}

.timbre:hover {
    background: #c0911b;
}

.timbre:hover span {
    color: white;
}

.timbre:hover p {
    color: white;
}

.timbre:hover button {
    background: #76552c;
    color: white;
}

// button .img-top {
//     display: none;
//     position: absolute;
//     top: 0;
//     left: 0;
//     z-index: 99;
// }
// .timbre:hover button .img-top {
//     display: inline;
// }

.timbre-passport {
    background: #c0911b;
    border-radius: 30px;
    width: 200px;
    margin-bottom: 10px;
}


.montant {
    margin-top: 5px;
    font-size: 30px;
    font-style: bold;
}

.border-3 {
    border-style:solid;
    border-width: 3px;
    border-color: rgb(196, 194, 194);
}

.ajouter {
    background: #c0911b;
    color: white;
    font-size: 20px;
    width: 150px;
    border-radius: 20px;
}

.fleche {
    margin-left: 20px;
}

input {
    text-align: center;
    border-radius: 20px;
}

h5 {
    text-align: center;
}

.retour { 
    background: #b1b1b1;
    color: white;
    font-size: 20px;
    width: 150px;
    border-radius: 30px;
}

.valider {
    background: #c0911b;
    color: white;
    font-size: 20px;
    width: 150px;
    border-radius: 30px;
}

