<div class="container-fluid"> 
  <div>
    <app-header></app-header>
  </div>
  <div class="classPages">
      <div class="d-flex flex-row justify-content-start" style="margin-left: 30px; padding-top: 20px;">
        <span class="p-2 puce"></span> 
        <span class="p-2 titre">VENTE DE TIMBRE FISCAL ET QUITTANCE</span>
      </div>
      <div class="row justify-content-center">
      
        <div class="col-11 align-self-center ligne" style="text-align: center; background-color: white; border-radius: 1rem; margin-bottom:3rem; margin-top: 3rem; margin: 1rem;">
            
          <router-outlet></router-outlet>
          <div class="d-flex flex-wrap  vente-timbres">
            <div class="p-2 border-3 timbre">
                <span class="style-timbre">Timbre</span> <br>
                <span class="montant">1.000 FCFA</span> <br>
                <p class="pointillet">----------------</p>
                <button type="button" class="btn text-center ajouter" (click)="ajouterTimbre(1000)">
                    Ajouter
                    <img class="fleche" src="assets\decoupage\fleche.PNG" alt="arrow right">
                </button>
            </div>
            <div class="p-2 border-3 timbre">
                <span class="style-timbre">Timbre</span> <br>
                <span class="montant">2.000 FCFA</span>
                <p class="pointillet">----------------</p>
                <button type="button" class="btn text-center ajouter"(click)="ajouterTimbre(2000)">
                    Ajouter
                    <img class="fleche" src="assets\decoupage\fleche.PNG" alt="arrow right" >
                </button>
            </div>
            <div class="p-2 border-3 timbre">
                <span class="style-timbre">Timbre</span> <br>
                <span class="montant">5.000 FCFA</span>
                <p class="pointillet">----------------</p>
                <button type="button" class="btn text-center ajouter" (click)="ajouterTimbre(5000)">
                    Ajouter
                    <img class="fleche" src="assets\decoupage\fleche.PNG" alt="arrow right" >
                </button>
            </div>
            <div class="p-2 border-3 timbre">
                <span class="style-timbre">Timbre</span> <br>
                <span class="montant">10.000 FCFA</span>
                <p class="pointillet">----------------</p>
                <button type="button" class="btn text-center ajouter" (click)="ajouterTimbre(10000)">
                    Ajouter
                    <img class="fleche" src="assets\decoupage\fleche.PNG" alt="arrow right" >
                </button>
            </div>
            <div class="p-2 border-3 timbre_passport">
              <span class="style-timbre">Timbre</span> <br>
              <span style="font-size: 20px; font-weight: bold; line-height: 5px;">Passport</span> <br>
              <span class="montant">20.000 FCFA</span> 
              <p class="pointillet">----------------</p>
              <button type="button" class="btn text-center" (click)="openModal(paramUser)">
                  Ajouter
                  <img class="fleche" src="assets\decoupage\fleche.PNG" alt="arrow right" >
              </button>
            </div>
          
          </div>
       
  
          <ng-template #paramUser class="modal_info">
            <div class="modal-header">
              <h5 class="modal-title">Veuillez remplir ces informations</h5>
              <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form [formGroup]="QuittanceForm" (ngSubmit)="validerQuittance()">
                <div class="form-group">
                  <input type="text" formControlName="lastName" class="form-control" id="nom" placeholder="Nom">
                </div>
                <div class="form-group">
                  <input type="text" formControlName="firstName" class="form-control" id="prenom" placeholder="Prénom">
                </div>
                <div class="form-group">
                  <input type="text" formControlName="nin" class="form-control" id="cni" placeholder="CNI N° (NIN du tuteur pour mineur)">
                </div>
                <div class="form-group">
                  <input type="tel" formControlName="phone" class="form-control" id="tel" placeholder="N° Tel">
                </div>
                <div class="d-flex">
                  <button type="submit" class="p-2 mr-auto btn retour" (click)="retour()">
                    <img class="fleche_gauche" src="assets\decoupage\fleche_gauche.PNG" alt="arrow right">
                    Retour
                  </button>
                  <button type="submit" class="p-2 btn valider">
                    Valider
                    <img class="fleche" src="assets\decoupage\fleche.PNG" alt="arrow right">
                  </button>
                </div>
              </form>
            </div>
          </ng-template>
        </div>
      </div>
  </div>


</div>
    

