<div class="container-fluid"> 
  <div>
    <app-header imageMenu="agent_bg_achat.png"></app-header>
  </div>
  <div class="classPages">
      <div class="d-flex flex-row justify-content-start" style="margin-left: 30px; padding-top: 20px;">
        <span class="p-2 puce"></span> 
        <span class="p-2 titre">VENTE DE TIMBRE FISCAL ET QUITTANCE</span>
      </div>
      <div class="row justify-content-center">
      
        <div class="col-11 align-self-center ligne" style="text-align: center; background-color: white; border-radius: 1rem; margin-bottom:3rem; margin-top: 3rem; margin: 1rem;">
                     
          <router-outlet></router-outlet> 
          
        </div>
      </div>
  </div>


</div>
    

