
    <div class="d-flex flex-wrap  vente-timbres">
        <div class="p-2 border-3 timbre">
            <span >Timbre</span> <br>
            <span class="montant">1.000 FCFA</span> <br>
            <p>----------------</p>
            <button type="button" class="btn text-center ajouter">
                Ajouter
                <img class="fleche" src="assets\decoupage\fleche.PNG" alt="arrow right" >
            </button>
        </div>
        <div class="p-2 border-3 timbre">
            <span >Timbre</span> <br>
            <span class="montant">2.000 FCFA</span>
            <p>----------------</p>
            <button type="button" class="btn text-center ajouter">
                Ajouter
                <img src="assets\decoupage\fleche.PNG" alt="arrow right" >
            </button>
        </div>
        <div class="p-2 border-3 timbre">
            <span class="style-timbre">Timbre</span> <br>
            <span class="montant">5.000 FCFA</span>
            <p>----------------</p>
            <button type="button" class="btn text-center ajouter">
                Ajouter
                <img src="assets\decoupage\fleche.PNG" alt="arrow right" >
            </button>
        </div>
        <div class="p-2 border-3 timbre">
            <span class="style-timbre">Timbre</span> <br>
            <span class="montant">10.000 FCFA</span>
            <p>----------------</p>
            <button type="button" class="btn text-center ajouter">
                Ajouter
                <img src="assets\decoupage\fleche.PNG" alt="arrow right" >
            </button>
        </div> <br>
        <div class="p-2 border-3 timbre">
            <span style="font-size: 20px;">Timbre</span> <br>
            <span style="font-size: 20px;">Passport</span> <br>
            <span class="montant">20.000 FCFA</span> 
            <p>----------------</p>
            <button type="button" class="btn text-center ajouter">
                Ajouter
                <img src="assets\decoupage\fleche.PNG" alt="arrow right" >
            </button></div>
    </div>

