.banière {
    border: 1px solid #77562b; 
    border-radius: 15px; 
    background: #77562b; 
    color: white; 
    font-size: 20px; 
    width: 40%; 
    height: 20%; 
    text-align: center; 
    // margin-left: 30%;
    margin-top: 10px;
    margin-bottom: 40px;
}

.d-flex {
    margin-bottom: 30px;
}

a {
    margin-top: 10px;
}

.premier_lien {
    border: 1px solid #b1b1b1;
    border-radius: 15px; 
    box-shadow: 2px 2px #888888;
    background: radial-gradient(white, #b1b1b1);
    color: #77562b;
    font-size: 18px;
    vertical-align: middle;
}

.retour { 
    background: #b1b1b1;
    color: white;
    font-size: 20px;
    width: 150px;
    border-radius: 30px;
    margin-bottom: 30px;
    margin-left: 10px;
    margin-top: 20px;
    align-self: flex-start;
}