<div class="d-flex flex-row justify-content-start" >
    <span class="p-2 puce"></span> 
    <p style="font-size: 30px; margin-top: 15px;" class="p-2 ">Finalisation</p>
 </div>
 <hr  width="99%" color="#ebe7e7" size="3">

 <div class="finalisation">
     <p style="margin-bottom: 30px; margin-top: 20px;">Montant global de votre achat :</p>
     <p style="color: #76552c; font-size: 40px; font-style: bold;">40.000 FCFA</p>
     <p style="color: #76552c; font-size: 20px;">Timbre pour passport</p> <br>
     <p>Réception de la quittance et du justificatif :</p>
     <div class="form-check">
        <input class="form-check-input" type="radio" name="envoiQuittance" id="email" value="option1" checked>
        <label class="form-check-label" for="email">
          Evoyer quittance et justificatif par E-mail.
        </label>
        <form>
            <div class="form-group row">
              <label for="inputEmail" class="col-sm-3 col-form-label">Saisir l'adresse mail :</label>
              <div class="col-sm-7">
                <input type="email" class="form-control" id="inputEmail">
              </div>
            </div>
            <div class="form-group row">
              <label for="confirmEmail" class="col-sm-3 col-form-label">Confimer l'adresse mail :</label>
              <div class="col-sm-7">
                <input type="email" class="form-control" id="confirmEmail">
              </div>
            </div>
          </form>
     </div>
     <div class="form-check">
        <input class="form-check-input" type="radio" name="envoiQuittance" id="sms" value="option2">
        <label class="form-check-label" for="sms">
            Evoyer quittance et justificatif par SMS.
        </label>
        <form>
            <div class="form-group row">
              <label for="inputTel" class="col-sm-3 col-form-label">Saisir le N° de téléphone :</label>
              <div class="col-sm-7">
                <input type="tel" class="form-control" id="inputTel" >
              </div>
            </div>
            <div class="form-group row">
              <label for="confirmTel" class="col-sm-3 col-form-label">Confimer le N° de téléphone :</label>
              <div class="col-sm-7">
                <input type="tel" class="form-control" id="confirmTel">
              </div>
            </div>
          </form>
      </div>
      <div class="d-flex justify-content-around" style="margin-bottom: 20px;">
        <button type="submit" class="p-2 btn retour">
          <img style="margin-right: 20px;" src="assets\decoupage\fleche_gauche.PNG" alt="arrow right">
          Retour
        </button>
        <button type="submit" class="p-2 btn valider">
          Valider
          <img style="padding-left: 20px;" src="assets\decoupage\fleche.PNG" alt="arrow right">
        </button>
      </div>
      
 </div>

 